$color-primary: #5900CC;
$color-secondary: #73CC00;
$color-black: #180B24;
$color-gray: #B6B6B8;
$color-lightgray: #DCDCDC;
$color-light:#5E2A7A;
$color-white: #FFFFFF;
$color-whiteborder:#FEFDFA;
$color-red: #F9555F;
$color-green: #1EA112;

$color-text: #E1E1E3;
$color-text-black: #000000;
$color-text-business-black: #474752;
$color-background: #0B0C14;
$color-background-white: #FFFFFF;
$color-background-gray: #F8F8FC;
$color-block:#15161E;
$color-border:#262733;

/*** Some unique colors ***/
$color-dashboard-text-white: #FFFFFF;
$color-button-hover: #680FDB;
$color-button-active: #430099;
$color-button-disabled: #8383A6;
$color-input: #1F202A;
$color-link-hover: #99F128;

$sm: 576px;
$md: 768px;
$pad: 1024px;
$lx: 1280px;
$hd: 1920px;


/** Services **/
$color-bottle: #5900CC;
$color-facebook: #437ABA;
$color-twitter: #56B7ED;
$color-twitch: #9946C0;
$color-github: #23282D;
$color-soundcloud: #FD531B;
$color-reddit: #FF4500;
$color-instagram: #ED0076;
$color-youtube: #FF0B00;
$color-linkedin: #0274B3;
$color-pinterest: #CB2027;
$color-mixcloud: #49596A;
$color-bottle: linear-gradient(342deg, #6D2077 34.05%, #004C97 118.64%);
$color-stackoverflow: #1763E1;
$color-telegram: #54a9eb;
$color-blockstack: #18252E;
$color-whatsapp: #25D366;
$color-wechat: #2DC100;
$color-fbmessenger: #437ABA;
$color-blockmatrix: #18252E;

$animationDuration: .3s !default;