@import 'variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color-white;
  
}

@font-face {
    font-family: "Dancing Script";
    font-weight: 400;
    font-style: normal;
    // src: url('../fonts/Dancing_Script/static/DancingScript-Regular.ttf') format("ttf");
    src: url("@/assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf");
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min(100vh);
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1200px) {
        grid-template-columns: none;
    }

    .left-side {
        padding: 20px 20px;

        @media screen and (max-width: 400px) {
            padding: 10px 10px;
        }

    }

    .right-side {
        padding: 20px;
    }
}