@import 'variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color-white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min(100vh);
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1200px) {
        grid-template-columns: none;
    }

    .left-side {
        padding: 20px 20px;

        @media screen and (max-width: 400px) {
            padding: 10px 10px;
        }

    }

    .right-side {
        padding: 20px;
    }
}